.pm-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: auto;

  app-person-list {
    width: 30%;
  }
  app-person-editor {
    width: 70%;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    app-person-list, app-person-editor {
      width: auto;
    }
  }
}
  
.person-list {
  flex: 1;
  padding: 10px;
  background-color: #f2f2f2;
}

.person-editor {
  flex: 2;
  padding: 10px;
}