.person-manager-container {
  display: flex;
  flex-direction: row;
  //min-width: auto;
  min-height: 100vh; /* Full viewport height */

  @media (max-width: 768px) {
    app-person-list, app-person-editor {
      width: auto;
    }
    app-person-editor {
      margin-top: 5vh;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    flex-direction: column;
  }

  app-person-list {
    flex: 1;
    margin-right: 10px; /* Spacing between list and editor */
    //width: 30%;
  }

  app-person-editor {
    flex: 2;
    //width: 70%;
  }
}
